.content {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;

  &__formWrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__imageWrapper {
    background-color: white;
    //width: 200px;
    border: 1px solid rgb(188, 144, 73);
    border-radius: 5px;
    color: rgb(188, 144, 73);
    justify-content: center;
    vertical-align: center;
    align-items: center;
    cursor: pointer;
  }

  &__image {
    max-width: 200px;
    border-radius: 5px;
  }

  &__download {
    display: none;
  }

}

.label {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  cursor: pointer;
}